rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {


    /* ================================================
       HELPERS
       ================================================ */

    function signedIn() {

      return request.auth != null;

    }


    function owner(uid) {

      return signedIn()
        && request.auth.uid == uid;

    }


    function getUser(uid) {

      return get(
        /databases/$(database)/documents/users/$(uid)
      ).data;

    }


    function isCustomer(uid) {

      return signedIn()
        && getUser(uid).role == "customer";

    }


    function isCaptain(uid) {

      return signedIn()
        && getUser(uid).role == "captain";

    }


    /* ================================================
       USERS
       ================================================ */

    match /users/{uid} {


      allow read: if owner(uid);


      allow create: if owner(uid)
        && request.resource.data.uid
            == request.auth.uid
        && (
          request.resource.data.role
            == "customer"
          ||
          request.resource.data.role
            == "captain"
        );


      allow update: if owner(uid)
        && (
          request.resource.data.role
            == "customer"
          ||
          request.resource.data.role
            == "captain"
        );


      allow delete: if false;

    }


    /* ================================================
       RIDES
       ================================================ */

    match /rides/{rideId} {


      /* العميل ينشئ الرحلة */

      allow create: if signedIn()
        && isCustomer(request.auth.uid)
        && request.resource.data.customerId
            == request.auth.uid
        && request.resource.data.status
            == "open";


      /*
        قراءة الرحلة:

        العميل يشوف رحلاته.

        الكابتن يشوف الرحلات المفتوحة.

        الكابتن المقبول يشوف الرحلة التي قبلها.
      */

      allow read: if signedIn()
        && (

          (
            isCustomer(request.auth.uid)
            &&
            resource.data.customerId
              == request.auth.uid
          )

          ||

          (
            isCaptain(request.auth.uid)
            &&
            resource.data.status
              == "open"
          )

          ||

          (
            isCaptain(request.auth.uid)
            &&
            resource.data.captainId
              == request.auth.uid
          )

        );


      /*
        تحديث الرحلة:

        العميل يستطيع تحديث رحلته.

        الكابتن يستطيع قبول رحلة مفتوحة.

        وبعد القبول يستطيع تحديث رحلته.
      */

      allow update: if signedIn()
        && (

          (
            isCustomer(request.auth.uid)
            &&
            resource.data.customerId
              == request.auth.uid
          )

          ||

          (
            isCaptain(request.auth.uid)
            &&
            resource.data.status
              == "open"
            &&
            request.resource.data.status
              == "accepted"
            &&
            request.resource.data.captainId
              == request.auth.uid
            &&
            request.resource.data.customerId
              == resource.data.customerId
          )

          ||

          (
            isCaptain(request.auth.uid)
            &&
            resource.data.captainId
              == request.auth.uid
          )

        );


      allow delete: if signedIn()
        && isCustomer(request.auth.uid)
        && resource.data.customerId
            == request.auth.uid;


      /* ================================================
         CONTACT
         ================================================ */

      match /contact/{contactId} {


        /*
          العميل ينشئ بيانات الاتصال.
        */

        allow create: if signedIn()
          && contactId == "info"
          && isCustomer(request.auth.uid)
          && get(
            /databases/$(database)/documents/rides/$(rideId)
          ).data.customerId
            == request.auth.uid
          && request.resource.data.customerPhone
            == getUser(request.auth.uid).phone;


        /*
          قراءة رقم الهاتف:

          العميل صاحب الرحلة يستطيع القراءة.

          الكابتن يستطيع القراءة بعد قبول الرحلة فقط.
        */

        allow read: if signedIn()
          && contactId == "info"
          && (

            (
              get(
                /databases/$(database)/documents/rides/$(rideId)
              ).data.customerId
                == request.auth.uid
            )

            ||

            (
              get(
                /databases/$(database)/documents/rides/$(rideId)
              ).data.status
                == "accepted"

              &&

              get(
                /databases/$(database)/documents/rides/$(rideId)
              ).data.captainId
                == request.auth.uid
            )

          );


        /*
          تحديث رقم الهاتف:

          العميل يعدل رقمه.

          الكابتن المقبول يضيف رقمه.
        */

        allow update: if signedIn()
          && contactId == "info"
          && (

            (
              get(
                /databases/$(database)/documents/rides/$(rideId)
              ).data.customerId
                == request.auth.uid

              &&

              request.resource.data.customerPhone
                == getUser(request.auth.uid).phone
            )

            ||

            (
              get(
                /databases/$(database)/documents/rides/$(rideId)
              ).data.status
                == "accepted"

              &&

              get(
                /databases/$(database)/documents/rides/$(rideId)
              ).data.captainId
                == request.auth.uid

              &&

              request.resource.data.captainPhone
                == getUser(request.auth.uid).phone
            )

          );


        allow delete: if false;

      }


      /* ================================================
         OFFERS
         ================================================ */

      /*
        النسخة الجديدة لا تستخدم العروض.
        الكابتن يقبل الرحلة مباشرة.
      */

      match /offers/{offerId} {

        allow read: if false;

        allow create: if false;

        allow update: if false;

        allow delete: if false;

      }

    }

  }

}
